<%= form_with(model: home, local: true) do |form| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :fichiers %>
    <%= form.file_field :fichiers, id: :home_fichiers, multiple: true %>
  </div>


  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :home_label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
