<p id="notice"><%= notice %></p>
<%= render 'form', home: @home %>

<div id="gufrebox"></div>

<form action="/download/zip">
  <table>
    <tr>
      <th>Sélection</th>
      <th>Fichier</th>
      <th>Lecture</th>
      <th>Tags</th>
      <th>Date d'ajout</th>
    </tr>
    <% @files.each do |f| %>
      <tr>
        <td>
          <input type="checkbox" value="<%= f.path %>" name="file_selected[]" />
        </td>
        <td>
          <%= f.path.split('/')[-1] %>
        </td>
        <td>
          -
        </td>
        <td>
          <%= f.tags %>
        </td>
        <td>
          <%= f.created_at.strftime('%d/%m/%Y') %>
        </td>
      </tr>
    <% end %>
  </table>

  <input type="submit" value="Télécharger" />
</form>
