<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @home.tags %>
</p>

<p>
  <strong>Fichiers:</strong>
  <%= @home.fichiers %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
